@import "vars";

.header {
  &_menu {
    width: 100%;
    background-color: #E8EEF1;
  }

  &_main {
    padding: 2em 0;
  }
}

.list {
  max-width: $maxWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 4em;

  @media screen and (max-width: $maxWidth) {
    margin: 0;
    padding: 0 2em;
  }

  &_inner {
    display: inline;
    font-style: normal;
  }

  &_title {
    font-size: 14px;
    font-weight: 400;
    color: #2B2A29;
    text-decoration: none;
    padding: .5em;

    &-dropdown::after {
      content: '';
      background-image: url("../assets/icons/chevron.svg");
      background-size: cover;
      position: relative;
      display: inline-block;
      height: 1em;
      width: 1em;
      vertical-align: middle;
    }

    @media screen and (max-width: $xxl) {
      font-size: 13px;
    }

    @media screen and (max-width: $xl) {
      font-size: 12px;
      padding: .3em;
    }

    &-right {
      font-size: 16px;
      font-weight: 500;

      @media screen and (max-width: $xxl) {
        font-size: 13px;
      }

      @media screen and (max-width: $xl) {
        font-size: 10px;
      }
    }

    &-mail {
      color: #005DB4;
    }
  }


}

.toolbar {
  display: flex;
  align-items: center;
  max-width: $maxWidth;
  gap: 2em;
  height: 3em;
  margin: 0 auto;

  @media screen and (max-width: $maxWidth) {
    margin: 0;
    padding: 0 2em;
  }

  &_logo {
    display: inherit;
    align-items: center;
    color: #FFFFFF;
    background-color: #005DB4;
    border-radius: .5em;
    height: inherit;
    padding: .5em 1em;
    text-transform: uppercase;
  }

  &_catalog {
    display: inherit;
    color: #FFFFFF;
    background-color: #FE5603;
    border-radius: .5em;
    height: inherit;
    padding: .5em 1em;
    align-items: center;

    &::before {
      content: '';
      background-image: url("../assets/icons/bars.svg");
      background-size: cover;
      height: 1em;
      width: 1em;
      margin-right: 1em;
    }
  }

  &_search {
    display: inherit;
    padding: 1em 1.5em;
    border-bottom: 1px solid #EAEAEA;
    flex-grow: 2;

    & > input {
      appearance: none;
      border: none;
      outline: none;
      height: 1em;
      width: 100%;
    }

    & > img {
      height: 1em;
      cursor: pointer;
      vertical-align: middle;
    }
  }

  &_counters {
    display: inherit;

    &-condition {
      display: inherit;
      align-items: center;
      color: #005DB4;

      &::before {
        content: '';
        background-image: url("../assets/icons/condition.svg");
        background-size: cover;
        height: 1em;
        width: 1em;
        margin-right: 1em;
      }
    }

    &-separator {
      height: 2em;
      width: 1px;
      background-color: #C4D7E8FF;
      margin: 0 .5em;
    }

    &-favorites {
      display: inherit;
      align-items: center;
      color: #005DB4;

      &::before {
        content: '';
        background-image: url("../assets/icons/heart.svg");
        background-size: cover;
        height: 1em;
        width: 1em;
        margin-right: 1em;
      }
    }
  }

  &_bucket {
    display: inherit;
    border-radius: .5em;
    height: inherit;
    align-items: center;
    padding: 0.5em 1em;
    justify-content: space-evenly;
    border: 1px solid #93B8DB;
    color: #A4A4A3;
    font-size: 14px;

    @media screen and (max-width: $maxWidth) {
      font-size: 12px;
    }

    &::before {
      content: '';
      background-image: url("../assets/icons/bucket.svg");
      background-size: cover;
      height: 1em;
      width: 1em;
      margin-right: 1em;
    }

    &-counter {
      color: #2B2A29;
      min-width: 3ch;
      text-align: center;
      font-size: 16px;

      @media screen and (max-width: $maxWidth) {
        font-size: 14px;
      }
    }
  }
}