@import "vars";

.header {
  &_menu {
    width: 100%;
    background-color: #E8EEF1;

    &-desktop {
      @media screen and (max-width: $md) {
        display: none;
      }
    }

    &-mobile {
      display: none;
      padding: 2em 2em 0;
      @media screen and (max-width: $md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      @media screen and (max-width: $sm) {
        padding: 1em 1em 0;
      }
    }

  }

  &_main {
    padding: 2em 0;
    height: 4em;
    @media screen and (max-width: $md) {
      height: 3em;
    }

  }
}

.list {
  max-width: $maxWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 4em;
  flex-wrap: wrap;

  &-desktop {
    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &-mobile {
    @media screen and (max-width: $md) {
      display: flex;
    }
  }

  @media screen and (max-width: $maxWidth) {
    margin: 0;
    padding: 0 2em;
  }

  @media screen and (max-width: $lg) {
    justify-content: center;
  }

  &-sidebar {
    display: block;
    height: auto;
    padding: 0 2em;

    &_inner {
      display: flex;
      flex-direction: column;
      font-style: normal;
      margin-bottom: 2em;
    }

    &_title {
      font-size: 16px;
      width: auto;
      position: relative;
      font-weight: 400;
      color: #2B2A29;
      text-decoration: none;
      padding: .5em;

      &:not(:first-child) {
        border-top: 1px solid #E7E7E7;
      }

      &-address {
        font-weight: 500;
        font-size: 16px;
      }

      &-dropdown {
        position: relative;

        &::after {
          content: '';
          background-image: url("../assets/icons/chevron.svg");
          background-size: cover;
          position: absolute;
          display: inline-block;
          height: 1em;
          width: 1em;
          right: 1em;
          top: 50%;
          vertical-align: middle;
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
  }

  &_inner {
    display: inline;
    font-style: normal;


    @media screen and (max-width: $md) {
      display: flex;
      flex-direction: column;
    }
  }

  &_title {
    font-size: 14px;
    font-weight: 400;
    color: #2B2A29;
    text-decoration: none;
    padding: .5em;

    &-dropdown {
      &::after {
        content: '';
        background-image: url("../assets/icons/chevron.svg");
        background-size: cover;
        position: relative;
        display: inline-block;
        height: 1em;
        width: 1em;
        vertical-align: middle;
      }
    }

    @media screen and (max-width: $xxl) {
      font-size: 13px;
    }

    @media screen and (max-width: $xl) {
      font-size: 12px;
      padding: .3em;
    }

    @media screen and (max-width: $md) {
      font-size: 14px;
    }

    &-right {
      font-size: 16px;
      font-weight: 500;

      @media screen and (max-width: $xxl) {
        font-size: 13px;
      }

      @media screen and (max-width: $xl) {
        font-size: 10px;
      }

      @media screen and (max-width: $md) {
        font-size: 14px;
      }

      @media screen and (max-width: $sm) {
        font-size: 10px;
      }
    }

    &-mail {
      color: #005DB4;
    }
  }
}

.menu {
  position: fixed;
  background-color: #fff;
  width: 80%;
  top: 0;
  bottom: 0;
  padding: 2em 0;
  z-index: 10;
  transition: transform .5s linear;

  &-catalog{
    display: none;
    top:25%;
    height: min-content;
    left: 1em;
    right: 1em;
    width: auto;
    border-radius: .5em;

    &.open{
      display: block;
    }
  }

  &.hide {
    transform: translateX(-100%);
  }
}

.toolbar {
  display: flex;
  position: relative;
  align-items: center;
  max-width: $maxWidth;
  gap: 2em;
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: $maxWidth) {
    margin: 0;
    padding: 0 2em;
  }

  @media screen and (max-width: $sm) {
    justify-content: space-between;
    padding: 0 1em;
    gap: 0;
  }
}

.logo {
  display: inherit;
  align-items: center;
  color: #FFFFFF;
  background-color: #005DB4;
  border-radius: .5em;
  height: inherit;
  padding: .5em 1em;
  text-transform: uppercase;

  &-desktop {
    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &-mobile {
    display: none;
    @media screen and (max-width: $md) {
      display: inherit;
    }

    @media screen and (max-width: $sm) {
      padding: 0 0.5em;
    }
  }
}

.catalog {
  display: inherit;
  color: #FFFFFF;
  background-color: #FE5603;
  border-radius: .5em;
  border: 1px solid #FE5603;
  height: inherit;
  padding: .5em 1em;
  align-items: center;
  cursor: pointer;

  &.open {
    position: fixed;
    z-index: 10;
    height: 3em;
  }

  & > img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;

    @media screen and (max-width: $md) {
      margin: 0;
    }
  }

  @media screen and (max-width: $md) {
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: $sm) {
    padding: .5em;
  }
}

.search {
  display: inherit;
  border-bottom: 1px solid #EAEAEA;
  flex-grow: 2;
  height: inherit;
  align-items: center;
  padding: 0.5em 1em;
  justify-content: center;

  @media screen and (max-width: $sm) {
    flex-grow: 0;
    border: 1px solid #EAEAEA;
    border-radius: .5em;
    padding: 0.5em 1.5em;
  }

  @media screen and (max-width: $sm) {
    padding: 0.5em 1em;
  }

  & > input {
    appearance: none;
    border: none;
    outline: none;
    height: 1em;
    width: 100%;
    @media screen and (max-width: $sm) {
      display: none;
      &::placeholder {
        color: transparent;
      }
    }
  }

  & > img {
    height: 1.5em;
    cursor: pointer;
    vertical-align: middle;
  }

  &.open {
    position: fixed;
    left: 0;
    right: 0;
    height: 3em;
    background-color: #fff;
    margin: 0 1em;
    z-index: 10;

    & > input {
      display: block;
    }

  }
}

.counter {
  display: inherit;
  align-items: center;
  color: #005DB4;
  height: inherit;

  @media screen and (max-width: $md) {
    padding: 0.5em 1em;
    border: 1px solid #E8EEF1;
    border-radius: .5em;
  }

  @media screen and (max-width: $sm) {
    padding: 0.5em;
  }

  &-separator {
    height: 2em;
    width: 1px;
    background-color: #C4D7E8FF;
    margin: 0 .5em;

    @media screen and (max-width: $md) {
      display: none;
    }
  }

  & > img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;

    @media screen and (max-width: $lg) {
      margin-right: .5em;
    }
  }
}

.bucket {
  display: inherit;
  border-radius: .5em;
  height: inherit;
  align-items: center;
  padding: 0.5em 1em;
  justify-content: space-evenly;
  border: 1px solid #93B8DB;

  @media screen and (max-width: $md) {
    border: 1px solid #E8EEF1;
  }

  @media screen and (max-width: $sm) {
    padding: 0.5em;
  }

  &_text {
    color: #A4A4A3;
    font-size: 14px;
    white-space: nowrap;

    @media screen and (max-width: $maxWidth) {
      font-size: 12px;
    }

    @media screen and (max-width: $lg) {
      display: none;
    }
  }

  & > img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
    @media screen and (max-width: $md) {
      margin-right: 0;
    }
  }

  &_counter {
    color: #2B2A29;
    min-width: 3ch;
    text-align: center;
    font-size: 16px;

    @media screen and (max-width: $maxWidth) {
      font-size: 14px;
    }
  }
}