@import "header";
@import "main";
@import "vars";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;

  &.open{
    position: relative;
  }

  @media screen and (max-width: $xxl) {
    font-size: 14px;
  }

  @media screen and (max-width: $xl) {
    font-size: 12px;
  }

}

main {
  max-width: $maxWidth;
  margin: 0 auto;
}





